footer {
	&.footer {
		background: $color-navi-bg;
		padding: 40px 0;
		text-align: center;

		.copyright {
			color: white;
			font-size: $font-size-smaller;
		}

		&.light {
			background: $color-light;
			border-top: solid 1px rgba(0, 0, 0, 0.05);
		}

		.mail {
			color: $color-light;

		}
	}
}
